---
import AstroContainer from "../components/AstroContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oferty">
  <main class="min-h-screen">
    <AstroContainer>
      <h1 class="text-5xl">Oferty</h1>
    </AstroContainer>
  </main>
</Layout>
