---
import AstroContainer from "../components/AstroContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oferty">
  <main>
    <AstroContainer>Oferty</AstroContainer>
  </main>
</Layout>
