---
import AstroContainer from "../components/AstroContainer.astro";
import ContactForm from "../components/ContactForm";
---

<section>
  <AstroContainer>
    <h2 class="font-semibold text-4xl">Skontaktuj się ze mną</h2>
    <ContactForm />
  </AstroContainer>
</section>
