---
import AstroContainer from "../components/AstroContainer.astro";
import Offert from "../components/Offert";
---

<section class="mb-32">
  <AstroContainer>
    <Offert client:load />
  </AstroContainer>
</section>
